* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;

    scroll-behavior: smooth;

    --background: #ffffff;
    --background-dim: #f3f3f3;
    --font-color: #000000;
    --font-color-dim: #c7c7c7;
    --accent-color: #506882;
    --error: #ff0000;
}

body.darkmode {
    --background: #181a1b;
    --background-dim: #1f2123;
    --font-color: #cccccc;
    --font-color-dim: #31333b;
    --accent-color: #578899;
}

div#wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

ul#navbar {
    position: absolute;

    background: var(--background);
    color: var(--accent-color);

    padding: 0.5rem;

    display: flex;
    gap: 1rem;

    list-style: none;
}

ul#navbar li {
    user-select: none;

    position: relative;
    display: inline-block;
}

ul#navbar li::after {
    content: '';

    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--font-color);

    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}

ul#navbar li:not(:first-of-type):not(li.sep):hover {
    cursor: pointer;

    color: var(--font-color);
}

ul#navbar li:not(:first-of-type):not(li.sep):hover::after {
    transform: scaleX(1);
}

ul#navbar li.sep {
    width: 1px;
    height: 22px;

    background: var(--accent-color);
}

textarea#text-editor,
div#preview {
    color: var(--font-color);

    padding: 5rem 3rem;

    overflow: auto;
}

textarea#text-editor {
    background: var(--background);

    font-size: 18px;

    resize: none;
    outline: none;
    border: none;
}

div#preview {
    position: relative;
    background: var(--background-dim);
}

div#preview::before {
    content: 'preview';

    color: var(--font-color-dim);
    font-weight: 700;
}

ul#notifications {
    position: absolute;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    list-style: none;
}

ul#notifications li {
    width: 200px;

    background: var(--background);
    color: var(--font-color);

    margin-bottom: 1rem;
    padding: 1rem;

    box-shadow: 0 0 4px 0 var(--font-color-dim);
    border-radius: 8px;

    cursor: pointer;

    position: relative;
}

ul#notifications li * {
    user-select: none;
}

ul#notifications li span.hour {
    position: absolute;

    right: 0.5rem;
    top: 0.5rem;

    color: var(--accent-color);

    font-size: 12px;

    font-style: italic;
}

ul#notifications li.urgent {
    outline: 1px solid var(--error);
}

ul#notifications li.urgent h4 {
    color: var(--error);
}

svg#darktoggler {
    position: absolute;
    fill: var(--accent-color);

    top: 1rem;
    right: 1rem;
    rotate: -45deg;

    width: 30px;
    height: 30px;

    cursor: pointer;

    background: var(--background);
    padding: 0.5rem;
    border-radius: 100%;
}
