:root {
    --background: #ffffff;
    --background-dim: #f3f3f3;
    --font-color: #000000;
    --font-color-dim: #3d3d3d;
    --accent-color: #506882;
}

body.darkmode {
    --background: #181a1b;
    --background-dim: #1f2123;
    --font-color: #ffffff;
    --font-color-dim: #c0b6a5;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

svg#darktoggler {
    position: absolute;
    fill: var(--accent-color);

    top: 1rem;
    right: 1rem;
    rotate: -45deg;

    width: 30px;
    height: 30px;
}

html,
body {
    height: 100%;
}

body {
    scroll-behavior: smooth;
}

div#wrapper {
    display: flex;
    height: 100%;
}

div#editor {
    display: inline-flex;
    flex: 1;
    width: 100%;
    padding: 2rem;
    background: var(--background);
}

textarea#text-editor {
    border: none;
    outline: none !important;
    resize: none;

    width: 100%;
    height: 100%;

    font-size: 18px;
    color: var(--font-color);

    background: none;
}

div#preview-section {
    flex: 1;
    padding: 2rem 4rem;
    background: var(--background-dim);
    color: var(--font-color-dim);
}

#line-numbers {
  width: 20px;
  text-align: right;
  margin-right: 1rem;
}

#line-numbers span {
  counter-increment: linenumber;
}

#line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: var(--accent-color);
  font-size: 18px;
}
