* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    scroll-behavior: smooth;
}

div#wrapper {
    display: flex;
    height: 100%;
}

div#editor {
    display: inline-flex;
    flex: 1;
    width: 100%;
    padding: 2rem;
    background: #ffffff;
}

textarea#text-editor {
    border: none;
    outline: none !important;
    resize: none;

    width: 100%;
    height: 100%;

    font-size: 18px;
    color: #333333;
}

div#preview-section {
    flex: 1;
    padding: 2rem 4rem;
    background: #f3f3f3;
    color: #3d3d3d;
}

#line-numbers {
  width: 20px;
  text-align: right;
  margin-right: 1rem;
}

#line-numbers span {
  counter-increment: linenumber;
}

#line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
  font-size: 18px;
}
